.menu{
    display: flex;
    align-items: center;
}
.menu-p{
    color:#414141 ;
    font-size: 12px;
}
.menu-p1{
    color: #8F8F8F;
    font-size: 12px;
}
.menu2{
    display: grid;
    grid-template-columns: repeat( 3 , auto);
}
.menu3 {
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.menu4 {
    display: grid;
    grid-template-columns: repeat(3, auto);
}
@media (max-width:1180px) {
    .menu2{
display: flex;
flex-direction: column;

    }
}
@media (max-width:1180px) {
    .menu3 {
        display: flex;
        flex-direction: column;

    }
}
@media (max-width:1180px) {
    .menu4 {
        display: flex;
        flex-direction: column;

    }
}