#cart {
    background-color: #F9F4E2;
    padding-left: 30px;
    padding-right: 30px;
}
.cart{
    margin-top: 70px;
}
.cart1{
    display: flex;
    gap: 10px;
}
.cart1-h1{
    font-size: 60px;
    color:#414141 ;
}
.cart1_div{
width: 26px;
height: 32px;
color: white;
border-radius: 4px;
text-align: center;
padding-top: 7px;
margin-bottom: 10px;}
.cart2-div1{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
    margin-bottom: 30px;
}
.cart2-div1_1{
  display: flex;
  align-items: center;
  gap: 10px;
}
.belgis{
    padding: 8px;
    background-color: white;
    cursor: pointer;
}
:hover.belgis{
    background-color: rgb(0, 255, 26);
}
.belgi-h1{
    font-size: 12px;
    color:#606060 ;
}
.cart2-div1_h1{
    font-size: 12px;
    list-style: 150%;
    color: #606060;
}
:hover.cart2-div1_h1{
    color: #FF6633;
}
.cart3lar-img{
    position: absolute;
    width:90px;
    height: 70px;
    padding-top: 15px;
}

.cart3lar-div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    border-radius: 5px;
   max-width: 900px;
    height: 90px;
    background-color: #FFFFFF;
    padding: 10px;
    gap: 20px;
}
.cart3lar-p{
    font-size: 16px;
    color:#414141 ;
    line-height: 150%;
}
.cart3lar-h1{
    font-size: 12px;
    color: #606060;
    padding-top: 10px;
}
.cartlar4{
    position: relative;
    bottom:0;
    left: 0;
    padding: 8px;
    color: #F9F4E2;
    border: solid rgb(0, 255, 26);
    border-radius: 3px;
}
:hover.cartlar4{
    background-color: rgb(0, 255, 26);
}
.cart3lar-p{
 font-size: 20px;
 color: #414141;
}
.cart3lar-div-1{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap: 70px;
}
.cart5{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap: 60px;
}
.cart6{
    padding-bottom: 20px;
}
.cart3lar-s{
    color: #606060;
    font-size: 12px;
}
.cart7_1-h1{
    font-size: 16px;
    line-height: 150%;
    color: #414141;
}
.cart7_6-btn{
    background-color: #D80000;
    border: solid #D80000;
    border-radius: 5px;
    max-width: 260px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
padding-top: 5px;
margin-top: 10px;
margin-left: 27px;
}
.cart7_6-btn1{
    background-color: #FCD5BA;
        border: solid #FCD5BA;
        border-radius: 5px;
        max-width: 320px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FF6633;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
}
.cart7_2{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 10px;
    margin-top: 50px;
}
.card7_2-h1{
    color: #8F8F8F;
    font-size: 16px;
    line-height: 150%;
    margin-top: 10px;
}
.cart7_4-p{
    color:#414141 ;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
}
:hover.cart7_4-p{
    color: #FF6633;
}
.cart7_4{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    align-items: center;
}
.cart7_3{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 40px;
    gap: 50px;
}
.cart7_4-p1{
    color: #262525;
    font-size: 24px;
}
.cart7_5{
    margin-top: 40px;
}
.cart7_6{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 5px;
    margin-left: 50px;
    gap: 10px;
}
.cart7_6-h1{
  color:#70C05B;
  font-size: 12px;
  line-height: 150%;
}
.cart7_7{
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
}

.cardlarimg{
    width: 80px;
    height: 50px;
    position: absolute;
}
.cardlar9{
    position: relative;
    top: 32px;
    background-color: #FF6633;
    width: 46px;
    height: 23px;
    border:#FF6633 ;
    border-radius: 4px;
    color: white;
    margin-left: 40px;
    text-align: center;
}
.check{
    position: absolute;
        top: 10px;
        left: 10px;
        z-index: 20;
        width: 16px;
        height: 16px;
        cursor: pointer
}
.cardlar1{
    position: relative;
    display:flex;
    gap: 30px;
    background-color: white;
    border-radius: 5px;
        max-width: 600px;
        height: 90px;
        background-color: #FFFFFF;
        padding: 10px;
        justify-content: space-between;
        margin-bottom: 10px;
}
.cardalar10{
    gap: 20px;
}
.cardlar2p{
    font-size: 10px;
    line-height: 150%;
    color: #414141;
}

.cardlar4{
    margin-left: 70px;
}
.cardlarbirlashma{
    display: grid;
    grid-template-columns: repeat(2 , auto);
}
.cardlar20{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width:830px) {
    .cardlarbirlashma{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:480px) {
    .cardlar1{
    display: flex;
    flex-direction: column;
    align-items: center;
        height: 240px;
    }
}