#cart {
    background-color: #F9F4E2;
    padding-left: 30px;
    padding-right: 30px;
}
.cart{
    margin-top: 70px;
}
.cart1{
    display: flex;
    gap: 10px;
}
.cart1-h1{
    font-size: 60px;
    color:#414141 ;
}
.cart1_div{
width: 26px;
height: 32px;
color: white;
border-radius: 4px;
text-align: center;
padding-top: 7px;
margin-bottom: 10px;}
.cart2-div1{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
    margin-bottom: 30px;
}
.cart2-div1_1{
  display: flex;
  align-items: center;
  gap: 10px;
}
.belgis{
    padding: 8px;
    background-color: white;
    cursor: pointer;
}
:hover.belgis{
    background-color: rgb(0, 255, 26);
}
.belgi-h1{
    font-size: 12px;
    color:#606060 ;
}
.cart2-div1_h1{
    font-size: 12px;
    list-style: 150%;
    color: #606060;
}
:hover.cart2-div1_h1{
    color: #FF6633;
}
.cart3lar-img{
    position: absolute;
    width:90px;
    height: 70px;
    padding-top: 15px;
}

.cart3lar-div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    border-radius: 5px;
   max-width: 900px;
    height: 90px;
    background-color:#FFFFFF ;
    padding: 10px;
    gap: 20px;
}
.cart3lar-p{
    font-size: 16px;
    color:#414141 ;
    line-height: 150%;
}
.cart3lar-h1{
    font-size: 12px;
    color: #606060;
    padding-top: 10px;
}
.cartlar4{
    position: relative;
    bottom:0;
    left: 0;
    padding: 8px;
    color: #F9F4E2;
    border: solid rgb(0, 255, 26);
    border-radius: 3px;
}
:hover.cartlar4{
    background-color: rgb(0, 255, 26);
}
.cart3lar-p{
 font-size: 20px;
 color: #414141;
}
.cart3lar-div-1{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap: 70px;
}
.cart5{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    gap: 60px;
}
.cart6{
    padding-bottom: 20px;
}
.cart3lar-s{
    color: #606060;
    font-size: 12px;
}
.cart7_1-h1{
    font-size: 16px;
    line-height: 150%;
    color: #414141;
}
.cart7_2{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 10px;
    margin-top: 50px;
}
.card7_2-h1{
    color: #8F8F8F;
    font-size: 16px;
    line-height: 150%;
    margin-top: 10px;
}
.cart7_4-p{
    color:#414141 ;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
}
:hover.cart7_4-p{
    color: #FF6633;
}
.cart7_4{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    align-items: center;
}
.cart7_3{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 40px;
    gap: 50px;
}
.cart7_4-p1{
    color: #262525;
    font-size: 24px;
}
.cart7_5{
    margin-top: 40px;
}
.cart7_6{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 5px;
    margin-left: 50px;
    gap: 10px;
}
.cart7_6-h1{
  color:#70C05B;
  font-size: 12px;
  line-height: 150%;
}
.cart7_7{
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
}
.cart7_6-btn{
    margin-top: 24px;
    color: white;
    background-color: #D80000;
    max-width: 300px;
    height: 25px;
    border: solid #D80000;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 60px;
}
.cart7_6-btn1{
    margin-top: 20px;
    background-color:#FCD5BA ;
    color:#FF6633 ;
    font-size: 24px;
    line-height: 150%;
    padding: 10px;
    max-width: 400px;
    height: 60px;
    border: solid #FCD5BA ;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-left: 40px;
}
@media (max-width:940px) {
    .cart3lar-div{
        display: flex;
     flex-direction: column;
     height: 190px;
    }
    .cart3lar-div-1{
        gap: 100px;
    }

}
@media (max-width:500px) {
    .cart3lar-div {
            display: flex;
            flex-direction: column;
            height: 290px;
        }
    .cart3lar-div-1{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    .card3lar_img{
        position: absolute;
        top: 0;
        left: 0;
    }
    .cart3lar-div{
        position: relative;
    }
        
    .cart4lar{
      margin-top: 70px;
        }
        .cart5 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .cart6{
            display: flex;
            gap: 10px;
        }
}
@media (max-width:420px) {
    .cart7_6-btn{
        height: 45px;

    } 
    .cart7_6-btn1{
        height: 80px;
    }
}
